body{
    background-color: rgb(229, 181, 181);
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "custom_bold";
    src: url("../fonts/centurygothic_bold.ttf");
}

@font-face {
    font-family: "custom";
    src: url("../fonts/centurygothic.ttf");
}